<div
    class="bg-surface rounded-[20px] overflow-hidden border border-none transition-all duration-300 ease-in-out hover:border-accent hover:scale-[1.02] cursor-pointer">
    <!-- Image Container -->
    <a [routerLink]="['/project-details', projectCardText().id]" class="block">
        <div class="w-full h-[200px] bg-cover bg-center transition-all duration-300 ease-in-out hover:-translate-y-2.5 
                hover:shadow-[0_20px_40px_rgba(0,0,0,0.4)] 
            hover:border-[#dc143c]/30 border border-transparent transition-transform duration-300 hover:scale-105"
            [style.backgroundImage]="'url(' + projectCardText().image + ')'">
        </div>
    </a>

    <div class="p-8">
        <h2 class="text-2xl mb-4 text-text-primary font-bold">{{ projectCardText().title }}</h2>
        <p class="text-text-secondary text-[0.95rem] mb-6">{{ projectCardText().description }}</p>
        <div class="flex gap-2 flex-wrap mt-4">
            @for (tag of projectCardText().tags; track $index) {
            <span
                class="text-xs bg-white/5 px-[0.8rem] py-[0.3rem] rounded-[50px] text-text-secondary border border-glass flex items-center gap-2">
                <i [class]="tag.icon" [style.color]="tag.color"></i>
                {{ tag.name }}
            </span>
            }
        </div>
    </div>
    
    <div class="pt-0 px-8 pb-8">
        <button
            class="w-full p-2 bg-transparent border border-accent rounded-[12px] transition-all duration-300 ease-custom hover:bg-accent/10">
            <a class="text-accent no-underline font-semibold" [routerLink]="['/project-details', projectCardText().id]">{{
                projectCardText().buttonText}}</a>
        </button>
    </div>
</div>